{% extends 'base.html' %}

{% block head %}
<h1><center>The Bank of Rutgers</center></h1>
<style>
    body{
        background-image:url(https://images.unsplash.com/photo-1615996923925-bfe3ab919361?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80);
    }
</style>
{% endblock %}

{% block body %}

<h1 align="center" style="font-size: 1.2em"; >
    Loan Eligibility Calculator
</h1>
<form action="#" method="POST" >
<table align="center">
    <tr>
        <th align="left">Name</th>
        <th> 
                <input type="text" name="name1" >
        </th>
    </tr>
    <tr>
        <th align="left">SSN</th>
        <th> 
                <input type="text" name="ssn" >
        </th>
    </tr>
    <tr>
        <th align="left">Contact Number</th>
        <th> 
                <input type="text" name="phone">
        </th>
    </tr>
    <tr>
        <th align="left">Loan Amount </th>
        <th> 
                <input type="text" name="loan_amt" >
        </th>
    </tr>
    <tr>
        <th align="left">Tenure(in months)</th>
        <th> 
                <input type="text" name="tenure" >
        </th>
    </tr>
    <tr>
        <th align="left">Annual Income in 2020</th>
        <th> 
                <input type="text" name="income1" >
        </th>
    </tr>
    <tr>
        <th align="left">Annual Income in 2019</th>
        <th> 
                <input type="text" name="income2" >
        </th>
    </tr>
    <tr>
        <th align="left">Current monthly obligations</th>
        <th> 
                <input type="text" name="expenses" >
        </th>
    </tr>
    <tr>
        <th align="left">Full-time work experience(years) </th>
        <th>
                <input type="text" name="workex" >
        </th>
    </tr>
    <tr>
        <th>
        <input type="submit" value="Compute">
        </th>
    </tr>
</form>

</table>


{% endblock %}
